{
  "presets": [
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  },
  "plugins": [
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    ["module-resolver", {
      "alias": {
        "Assets": "./src/assets",
        "Store": "./src/scripts/store",
        "Services": "./src/scripts/services",
        "Config": "./src/scripts/config",
        "Components": "./src/scripts/application/components",
        "TestTools": "./tools/test-utils"
      }
    }]
  ]
}