{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.13"
    },
    "import/resolver": {
      "webpack": {
        "config": "webpack.common.js"
      }
    }
  },
  "rules": {
    "import/extensions": [
      2,
      {
        "jsx": "never"
      }
    ],
    "react/jsx-wrap-multilines": 0,
    "max-len": [
      "error",
      {
        "code": 80,
        "ignoreComments": true
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".ts", ".tsx"] }]
  }
}