h1 {
  color: $maastricht-blue;
  font-size: 3em;
  font-family: $starwars-font;
  padding-bottom: 1em;
}

.message {
  border: solid 2px $maastricht-blue;
  border-radius: 5px;
  padding: 2em 3em;
  font-size: 1.1em;
  background-color: $maximum-blue-green;

  &.error {
    background-color: $rose-madder;
  }
}