.table {
  border: solid 2px $maastricht-blue;

  .row,
  .header {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    .cell {
      flex-grow: 1;
      width: 17%;
      border-right: solid 1px $maastricht-blue;
      padding: 0.5em 1% 0.5em 2%;

      &:last-child {
        border-right: none;
      }
    }
  }

  .header {
    background-color: $maximum-blue-green;
    font-weight: bold;
    color: $baby-powder;
    border-bottom: solid 2px $maastricht-blue;

    .cell {
      font-weight: bold;
    }
  }
}
