@font-face {
  font-family: 'Poller One';
  src: url('../assets/fonts/poller-one/PollerOne-Regular.woff2') format('woff2'),
    url('../assets/fonts/poller-one/PollerOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}